.container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
}
.container-toolbar {    
    height: 30px;
    background-color: #fdfdfd;
    opacity: 0.99;   
}
.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 700px;
    overflow: auto;
}


table {
    border-right-color: 1px solid ;
    width: 100%;
    height: 80%;
    margin-top: 10px ;  
    margin-bottom: 10px;   
}




.example-container {    
    height: 500;
    overflow: auto;  
    
}

.example-spacer {
    flex: 1 1 auto;
}
th {
    width: 20%;
    background-color: rgb(208, 206, 206);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

tr.mat-row:nth-child(even){
    width: 20%;    
    text-align: left;
    font-size: 14px;
    background-color:  rgb(248, 248, 248) ;
}

::ng-deep.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    opacity: 0.99;
}
.pointer {
    cursor: pointer;
}



