

    <div>
        <h4 class="modal-title">Reordenar, fijar u ocultar las columnas de la tabla</h4>
        <h2 class="modal-title">Configurar columnas</h2>
      </div>
      <div cdkDropList  class="example-list"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListData)="columnas">
        <div  class="example-box" *ngFor="let columna of columnas" cdkDrag >
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{columna}}
        </div>
      </div> 
      
    <div class="example-spacer" class="modal-footer">    
        <button mat-raised-button class="buttonC" style="margin-right: 20px" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button class="buttonM" style="margin-right: 20px" >Aplicar</button>
    </div>
  
